#root,
body {
  width: 100vw;
  height: 100vh;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #b1b4e6;
}

.box {
  width: 350px;
  height: 500px;
  background-color: #fff;
  border-radius: 24px;
  padding: 20px 50px;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.box > h2 {
  margin-bottom: 20px;
  font-weight: 200;
  font-size: 24px;
}

.controls {
  display: flex;
  width: 100%;
}

.controls > input {
  display: flex;
  height: 35px;
  flex: 1;
  border-radius: 7px;
  font-size: 18px;
}

.controls > button {
  border-radius: 7px;
  width: 60px;
  margin-left: 15px;
  background: #6565c6;
  outline: none;
  border-color: #6565c6;
  /* border: none; */
  color: #fff;
}

.todo-wrapper {
  display: flex;
  flex-flow: column;
  flex: 1;
  width: 100%;
  margin-top: 20px;
  /* overflow-y: scroll; */
}

.todo-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  
}

.todo-item__content {
  cursor: pointer;
  user-select: none;
}

.deleteBtn {
  color: red;
  font-weight: 600;
  cursor: pointer;
  user-select: none;
}
